/* Enter your Styles below! */
* {
    box-sizing: border-box;
}
.title-small {
    padding-top: 30px;
    text-align: center;
    font-size: 60px;
    padding-bottom: 30px;
}

.logo {
    display: flex;
    color: pink;
    text-align: center;
}
.logo {
    display: block;
    margin: auto;
    padding-bottom: 0;
}
.main-banner img {
    width: 100%;
    padding-top: 60px;
}

a:hover { color: black; }



@media only screen and (min-width:768px) {
.destop {
    position: absolute;
    top: 150px;
    padding-top: 30px;

}
.destop {
    width: 100%;
    display: block;
    margin: auto;
    height: 0;
    text-align: center;

}

.menu-destop a {
    margin-right: 30px;
    height: 0;
    text-decoration: none;
    color: pink;
    font-size: 20px;
    text-align: center;
}

}


@media only screen and (min-width:768px) {

}